<%- contentFor('body') %>
<main class="container">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid mb-3" src="/images/me.jpg" />
      <h1>My Name</h1>
      <p>Something about me. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-7 offset-md-1">
      <h2>Education</h2>
      <ul id="education">
        <% for (let item of educationItems) { %>
          <li>
            <h3><%= item.title %></h3>
            <h4><%= item.subtitle %></h4>
            <h5><%= item.place %></h5>
            <h6><%= item.startedAt %> to <%= item.endedAt ? item.endedAt : 'Present' %></h6>
            <p><%= item.about %></p>
          </li>
        <% } %>
      </ul>
      <h2>Work Experience</h2>
      <ul id="work">        
      </ul>
    </div>
  </div>
</main>
<%- contentFor('scripts') %>
<script type="application/javascript">
  $(function() {
    $.getJSON('/api/sectionItems?section=work', function(items) {
      for (const item of items) {
        $('#work').append(`
          <li>
            <h3>${item.title}</h3>
            <h4>${item.subtitle}</h4>
            <h5>${item.place}</h5>
            <h6>${item.startedAt} to ${item.endedAt ? item.endedAt : 'Present'}</h6>
            <p>${item.about}</p>
          </li>
        `);
      }
    });
  });
</script>
